<p>Name: {{name}}</p>
<p>City: {{city}}</p>
<p>Age: {{age}}</p>
<p>Gender:
{{#if female}}
female
{{else}}
male
{{/if}}
</p>
<p>Favorite Animal: {{favorite_animal}}</p>
<p>Date Joined: {{created_at}}</p>
